:root {
  font-family: sans-serif;
}

body {
  margin: 0px;
}

.nav-link {
  padding-left: 20px;
  text-decoration: none;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.4);
}

.nav-link.active {
  color: red;
}

nav {
  padding: 10px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

main {
  padding: 0px 20px;
}

.art-card-wrap a {
  text-decoration: none;
  color: initial;
}

.art-card {
  display: flex;
  padding: 7px;
  border-radius: 9px;
  background-color: transparent;
  transition-duration: .2s;
}

.art-card:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.art-card .thumb {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  border-radius: 6px;
  background-position: center center;
  background-size: cover;
}

.art-card .title {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 8px;
}

.art-card .author {
  color: rgba(0, 0, 0, 0.8);
  margin-top: 3px;
}

.art-view-wrap {
  position: fixed;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  display: grid;
  place-items: center;
}

.art-view {
  background-color: white;
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  width: 500px;
}

.art-view article {
  padding: 10px;
}

.art-view .thumb {
  height: 150px;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.art-view .title {
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 4px;
}

.art-view .author {
  color: rgba(0, 0, 0, 0.8);
}

.art-view .div-wrap {
  padding: 0px 30px;
}

.art-view .div {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  margin-bottom: 12px;
  padding-top: 12px;
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  background: rgba(0, 0, 0, 0.8);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  color: white;
  line-height: 0px;
  font-size: 1.1em;
  cursor: pointer;
}
